body{
    background-color: rgb(252, 247, 242);
}

.Middle{
    text-align: justify;
    text-shadow:rgb(12, 12, 26);
    align-content: center;
    margin-top: 20%;
    margin-left: 40%;
}

.Active{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-shadow:rgb(12, 12, 26);
    align-content: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}